$primary-color: #0d92f4;
$primary-light: #77cdff;
$secondary-color: #c62e2e;
$secondary-light: #f95454;
$font-family: "Kanit";
// $link-hover: #85ccff;

@mixin flex($justify: Position) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}

@mixin flex_column($direction: direction) {
  display: flex;
  flex-direction: $direction;
}

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} 

body {
  font-family: $font-family, sans-serif;
  // height: 100vh;
  @include flex_column($direction: column);
  // justify-content: space-between;
  align-items: center;
  background-image: url(https://img.freepik.com/free-photo/dark-blue-textile-texture_23-2147729354.jpg?t=st=1735420999~exp=1735424599~hmac=f7e416ceb0501ea760a9759ff422fd9aa81903c55608804c98654a5cf49ba5de&w=740);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

/* Navigation Bar */

nav {
  width: 100%;
  height: 60px;
  @include flex($justify: center);
//   background-color: #fff;
//   box-shadow: 4px 4px 400px black;

  .nav-wrapper {
    width: 85%;
    @include flex($justify: space-between);

    .logo h1 {
      color: $primary-color;
      font-size: 26px;
    }

    .link-wrapper {
      @include flex($justify: space-between);
      gap: 70px;
      list-style: none;

      a {
        transition: color 0.2s ease-in-out;
      }

      a:hover {
        color: rgb(85, 85, 85);
      }
    }

    .auth-button a {
      background-color: $primary-color;
      color: white;
      padding: 10px 30px;
      border-radius: 2px;
      font-weight: 500;
      transition: background-color 0.2s ease-in-out;
    }

    .auth-button a:hover {
      background-color: $primary-light;
      color: white; 
    }
  }
}

/* End of Navigation Bar */

/* Header */

header {
  height: 80%;
  width: 85%;
  @include flex($justify: space-between); 

  .header-content {
    @include flex($justify: center);
    align-items: center;
    flex-direction: column;
    gap: 10px;

    h1 {
        font-size: 5.5rem;
        line-height: 1.2;
        font-weight: 600; 
    }

    p {
        font-size: 1.5rem;
        font-weight: 200; 
        text-align: center;
        width: 50%;
    }

    .waitlist {
        @include flex($justify: space-between); 

        a {
          padding: 10px 50px;
          background-color: $primary-color;
          color: white;
          border-radius: 2px;
          transition: background-color 0.2s ease-in-out;
        }

        a:hover {
          background-color: $primary-light;
          color: white; 
        }
    }
  } 
}

/* End of Header */
