$primary-color: #0d92f4;
$primary-light: #77cdff;
$secondary-color: #c62e2e;
$secondary-light: #f95454;
$font-family: "Ubuntu";

@mixin flex($justify: Position) {
    display: flex;
    justify-content: $justify;
    align-items: center;
}

@mixin flex_column($direction: direction) {
    display: flex;
    flex-direction: $direction; 
}

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    font-family: $font-family, sans-serif; 
    height: 100vh; 
    @include flex_column($direction: column);
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}