@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kanit", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(148deg, rgb(2, 0, 36) 0%, rgb(9, 9, 121) 35%, rgb(0, 212, 255) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

/* Navigation Bar */
nav {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .nav-wrapper {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-wrapper .logo h1 {
  color: #0d92f4;
  font-size: 26px;
}
nav .nav-wrapper .link-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
  list-style: none;
}
nav .nav-wrapper .link-wrapper a {
  transition: color 0.2s ease-in-out;
}
nav .nav-wrapper .link-wrapper a:hover {
  color: rgb(85, 85, 85);
}
nav .nav-wrapper .auth-button a {
  background-color: #0d92f4;
  color: white;
  padding: 10px 30px;
  border-radius: 2px;
  font-weight: 500;
  transition: background-color 0.2s ease-in-out;
}
nav .nav-wrapper .auth-button a:hover {
  background-color: #77cdff;
  color: white;
}

/* End of Navigation Bar */
/* Header */
header {
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
header .header-content h1 {
  font-size: 5.5rem;
  line-height: 1.2;
  font-weight: 600;
}
header .header-content p {
  font-size: 1.5rem;
  font-weight: 200;
  text-align: center;
  width: 50%;
}
header .header-content .waitlist {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-content .waitlist a {
  padding: 10px 50px;
  background-color: #0d92f4;
  color: white;
  border-radius: 2px;
  margin-top: 10px;
  transition: background-color 0.2s ease-in-out;
}
header .header-content .waitlist a:hover {
  background-color: #77cdff;
  color: white;
}

/* End of Header */
/* Features Section */
#features {
  background-color: #fff;
  width: 100%;
  color: black;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#features h2 {
  font-size: 3rem;
  font-weight: 600;
  margin: 50px 0;
}
#features p {
  font-size: 1.5rem;
  font-weight: 200;
  text-align: center;
  width: 50%;
  margin-bottom: 50px;
}
#features .features {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  gap: 50px;
  margin-bottom: 20px;
}
#features .features .feature {
  width: 30%;
  height: 350px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-baseline;
  gap: 5px;
  border-radius: 10px;
  box-shadow: 0.1px 0.1px 3px rgba(0, 0, 0, 0.74);
  transition: all 0.2s ease-in-out;
}
#features .features .feature .icon-bg {
  background-color: #0d92f4;
  min-width: 100px;
  min-height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#features .features .feature .icon-bg .fa-solid {
  font-size: 3.5rem;
  text-align: center;
  color: white;
}
#features .features .feature h3 {
  font-size: 2rem;
  font-weight: 500;
}
#features .features .feature p {
  font-size: 1.2rem;
  font-weight: 300;
  align-self: center;
  width: 80%;
}
#features .features .feature:hover {
  cursor: pointer;
  box-shadow: 0.1px 0.1px 10px rgba(0, 0, 0, 0.74);
  transform: scale(1.1);
}
#features a {
  background-color: #0d92f4;
  color: white;
  padding: 10px 30px;
  margin-top: 30px;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}
#features a:hover {
  background-color: #77cdff;
}

/* End of Features */
/* About section */
#about {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  color: black;
}
#about h2 {
  font-size: 3rem;
  font-weight: 600;
  margin: 50px 0;
}
#about p {
  font-size: 1.5rem;
  font-weight: 200;
  width: 50%;
  margin-bottom: 50px;
  align-self: flex-start;
}
#about .about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  width: 85%;
  gap: 20px;
}
#about .about-content .about-image {
  width: 50%;
}
#about .about-content .about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

/* End of about section */
/* Contact Section */
#contact-us {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  color: black;
}
#contact-us h3 {
  font-size: 2.5rem;
  font-weight: 600;
}
#contact-us .contact-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 85%;
  height: 65%;
  padding: 50px;
}
#contact-us .contact-content .contact-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  height: 100%;
  gap: 20px;
}
#contact-us .contact-content .contact-info p {
  font-size: 24px;
  font-weight: 200;
}
#contact-us .contact-content .contact-info .fa {
  font-size: 24px;
  color: #0d92f4;
  display: inline-block;
  padding: 0 10px 0 0;
}
#contact-us .contact-content .contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 50%;
  height: 100%;
}
#contact-us .contact-content .contact-form form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: stretch;
  flex-direction: column;
}
#contact-us .contact-content .contact-form input,
#contact-us .contact-content .contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  font-size: 20px;
  border-top: none;
  border-right: none;
  border-left: none;
}
#contact-us .contact-content .contact-form input:focus,
#contact-us .contact-content .contact-form textarea:focus {
  outline: none;
  border-bottom: 1px solid #0d92f4;
}
#contact-us .contact-content .contact-form #message {
  height: 100px;
}
#contact-us .contact-content .contact-form button {
  background-color: #0d92f4;
  color: white;
  cursor: pointer;
  padding: 10px 30px;
  width: 100%;
  border: none;
  border-radius: 1px;
  transition: background-color 0.2s ease-in-out;
}
#contact-us .contact-content .contact-form button:hover {
  background-color: #77cdff;
}

/* End of Contact Section */
/* Footer */
.footer {
  width: 100%;
  height: 200px;
  background: linear-gradient(148deg, rgb(2, 0, 36) 0%, rgb(9, 9, 121) 35%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer p {
  font-size: 1rem;
  font-weight: 200;
}
.footer h4 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 10px;
}
.footer .socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  list-style: none;
  gap: 20px;
}
.footer .socials a {
  font-size: 24px;
  color: white;
}

/* End of Footer */
/* Media Queries */
@media (max-width: 768px) {
  nav {
    height: 80px;
    width: 100%;
  }
  nav .nav-wrapper {
    width: 90%;
  }
  nav .nav-wrapper .logo h1 {
    font-size: 25px;
  }
  nav .nav-wrapper .link-wrapper {
    gap: 50px;
    display: none;
  }
  nav .nav-wrapper .link-wrapper a {
    font-size: 1px;
  }
  nav .nav-wrapper .auth-button a {
    padding: 5px 20px;
    font-size: 15px;
    font-weight: 400;
  }
  header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .header-content h1 {
    font-size: 3rem;
    text-align: center;
  }
  header .header-content p {
    font-size: 1.5rem;
    width: 85%;
    text-align: center;
  }
  header .header-content .waitlist a {
    padding: 5px 20px;
    font-size: 14px;
  }
  #features h2 {
    font-size: 2.5rem;
    margin: 20px 0;
  }
  #features p {
    font-size: 1.2rem;
    width: 80%;
  }
  #features .features {
    flex-direction: column;
  }
  #features .features .feature {
    width: 100%;
    height: 350px;
    margin-bottom: 10px;
  }
  #features .features .feature h3 {
    font-size: 1.5rem;
  }
  #features .features .feature p {
    font-size: 1.2rem;
  }
  #about h2 {
    font-size: 2.5rem;
    margin: 20px 0;
  }
  #about p {
    font-size: 1.2rem;
    width: 100%;
    text-align: justify;
    align-self: center;
    margin-bottom: 10px;
  }
  #about .about-content {
    flex-direction: column;
    gap: 0;
  }
  #about .about-content .about-image {
    width: 100%;
    height: 300px;
  }
  #contact-us {
    height: 700px;
    justify-content: space-between;
  }
  #contact-us h3 {
    font-size: 2rem;
  }
  #contact-us .contact-content {
    justify-content: space-between;
    flex-direction: column-reverse;
    gap: 30px;
    padding: 20px;
    margin-bottom: 40px;
  }
  #contact-us .contact-content .contact-info {
    width: 100%;
    height: 40%;
    gap: 10px;
  }
  #contact-us .contact-content .contact-info p {
    font-size: 20px;
  }
  #contact-us .contact-content .contact-info .fa {
    font-size: 20px;
  }
  #contact-us .contact-content .contact-form {
    width: 100%;
  }
  #contact-us .contact-content .contact-form form {
    gap: 10px;
  }
  #contact-us .contact-content .contact-form input,
  #contact-us .contact-content .contact-form textarea {
    font-size: 18px;
  }
  #contact-us .contact-content .contact-form button {
    font-size: 18px;
  }
}

/*# sourceMappingURL=styles.css.map */
